<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="authAccount" class="ru.otus.l131.auth.AuthAccount">
        <constructor-arg type="java.lang.String" value="admins.properties"/>
    </bean>

    <bean id="dbService" class="ru.otus.l131.db.DBServiceImpl"/>
</beans>
