<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>L13.1-auth</display-name>
    <description>Example of war file</description>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.otus.l131.servlet.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <!--<welcome-file-list>-->
        <!--<welcome-file>index.html</welcome-file>-->
    <!--</welcome-file-list>-->

</web-app>
